[submodule "sdevicecore"]
	path = Submodules/sdevicecore
	url = ../sdevicecore.git
[submodule "tablecrcsdevice"]
	path = Submodules/tablecrcsdevice
	url = ../tablecrcsdevice.git
[submodule "doxygen-awesome-css"]
	path = Doxygen/Style/doxygen-awesome-css
	url = ../forks/doxygen-awesome-css.git
[submodule "unity"]
	path = Testing/Unity
	url = ../forks/unity.git
